.Background{
    background: url('../../Assets/Background (1).png');
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
}
.loginBody{
    width: 70%;
    height: 495px;
    margin-top: 13%;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(141, 198, 63, 0.1);
    border-radius: 15px;
}
.makeloginCenter{
     display: flex;
    justify-content: center;
}  
.logoDiv{
height: 25%;
display: flex;
justify-content: center;
margin-top: 40px;
}
.titleDiv{
    text-align: center;
    
    color: black;
    }
.userDiv{
    margin-top: 20px;
    display: flex;
    justify-content: center;
        }
.passwordDiv{
    display: flex;
    justify-content: center;
            }

    .loginDiv{
        display: flex;
        justify-content: center;
        margin-top: 30px;
        margin-left: 40px;
            }
    .userWrapper{
        border-bottom: 1px solid grey;
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    }
    .userInput{
        width: 90%;
        margin-left: 12px;
        padding-left: 5px;
        background: transparent;
        border: none;
        font-size: 18px;
        outline: none;
    }
    .forgotpasswordText{
    color: white;
    margin-left: 60px;
    }
    .loginButton
    {
        width: 202px;
        height: 44px;
        background: #8DC63F;
        border-radius: 55px;
        border: none;
        color:white;
        font-weight: 600;
        outline: none;
        border: none;
    }
    .loginButton:active, .loginButton:focus, .loginButton:hover{
        width: 202px;
        height: 44px;
        background: #8DC63F;
        border-radius: 55px;
        border: none;
        color:white;
        font-weight: 600;
        outline: none;
        border: none;
    }
    .UsernameValidation{
        color: red;
    margin-top: 2px;
    width: 78%;
    margin-left: 12%;
    font-size: 15px;
    height: 25px;
    }
    .Apierrormsg{
        color: red;
    border: 1px solid red;
    margin-top: 20px;
    width: 78%;
    margin-left: 12%;
    font-size: 17px;
    padding: 1px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    }
    .spinner{
        margin-top: 5px;
        height: 35px;
        width: 35px;
        
    }