.heading h3{
    color:#8cc63f;
    margin-top: 20px;
     font-weight: 600;
  }
  .labelInput{
    float: right;
    font-size: 17px;
    font-weight: bold;
    color: gray;
    padding-top: 3px
  }
  @media screen and (max-width:425px) {
    .labelInput{
      float: left;
      font-size: 17px;
      font-weight: bold;
      color: gray;
      padding-top: 3px
    }
    .cardBody{
      width:90%;
      padding-left: 5%;
      margin-left: 5%;
    }
    .heading h3{
      color:#8cc63f;
      margin-top: 20px;
       font-weight: 600;
      text-align: center;
    }
}
  .inputField{
    border: 1px solid rgb(114, 112, 112);
    width: 80%;
    height: 30px;
    border-radius: 5px;
    padding-left: 15px;
    outline: none;
  }
  .makeCenter{
    display: flex;
    justify-content: center;
  }
  .fileinput{
    display: none;
}
.imgdiv{
    height: 130px;
    width:130px;
    border-radius: 8px;
    border: 1px solid rgb(114, 112, 112);
    margin-top: 7px;
    background-color: white;
    cursor: pointer;
    float: left;
}
.img2{
    height: 130px;
    width:130px;
    border: 1px solid rgb(114, 112, 112);
    position: absolute;
    border-radius: 8px;
}
.cameraIcon{
    color: orange;
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    top: 113px;
    left: 120px;
}
.para{
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 23px;
    font-weight: bold;
    color: gray;
}
.errorMsg{
    color:red;
    height:30px;
    border:1px solid #FFF
}

.btnWarning {
  font-weight: bold;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
  border: none;
  color: white;
  background-color: #8cc63f;
  padding: 5px 10px;
}
.btnWarning:hover, .btnWarning:focus, .btnWarning:active
{
  font-weight: bold;
  border-radius: 20px;
  font-size: 14px;
  outline: none;
  border: none;
  color: white;

}